<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <!-- *********DISPLAY OUR IMAGES********* -->
      <h1 class="title">My Images</h1>
      <a href="/auth/logout"><button class="button">Logout</button></a>
      <% for (image of images) { %>
      <img src="<%= image.url %>" alt="image" />
      <% } %>

      <!-- **********NEW IMAGES FORM**************** -->
      <form action="/images" method="POST">
        <input type="text" placeholder="new image" name="url" />
        <input type="submit" value="add image" />
      </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>